h1{color: blue;
text-decoration: underline;}
.blue{color: blue;
text-decoration: underline;}
.purple{color: blueviolet;
text-decoration: underline;}
.terms{color: blue;
text-decoration: underline;}
.maindiv {padding-left: 400px;}