

.navbar {
    width: 100%;
    background-color:white;
    overflow: auto;
  }
  .navbar a {
    float: left;
    padding: 2px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 10%;
    text-align: center;
  padding:20px; }
 @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; 
    }
  }
 .head{padding-top: 20px;
 }
 /* .right{padding-top: 20px;
background-color: cornflowerblue;} */
 .head::first-letter{background-color: orange;
     width:300px; height:100px;
      border-radius: 50%;}
  .home::first-letter{background-color: orange;
     width:300px; height:100px;
      border-radius: 50%;}
.products::first-letter{background-color: orange;
    width:300px; height:100px;
     border-radius: 100%;}


     .grid-container{display: grid;
      padding-right: 50px;
        grid-template-columns: auto auto; }
.one{background-color:rgb(145, 212, 44)}
.grid-item-two{
display: inline-flex;

}
.checkout{background-color:rgb(224, 211, 211)}

.grid-item-one{
padding-right: 135px;
padding-top: 36px;
text-align: right;
line-height: 1.3;
max-width: 100%;


}
.grid-item-one{padding-right: 155px;
padding-top: 66px;
text-align: right;
}

.imageone{
    padding-top: 50px; 
    position: relative;
    background-blend-mode: multiply;
}
.align{padding-right: 45px;
  padding-top: 50px;
    }

    .grid-containerr {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        
        padding: 10px;}
      
      .grid-containerr > div {
        background-color:rgba(255, 255, 255, 0.8);
        border: 1px solid whitesmoke;
        text-align: center;
        }
        .grid-containerr > div:last-child {
         
          border: 1px solid whitesmoke;
          text-align: center;
          }
        .grid-containerr > div img{width: 100%;
       
   }
   
        .cash{color: rgb(23, 154, 197);
        font-weight: bold;}
        button{background-color: rgb(146 249 44);
        padding: 6px;}
        .underline{text-decoration: underline;}
        
        .navbarr {
            width: 100%;
            background-color:black;
            /* overflow: auto; */
            display: inline-flex;
          }

          
          .navbarr a {
            float: left;
            padding-top: 10px;
            color:white;
            text-decoration: none;
            font-size: 17px;
            width: 25%;
             }
             .active{padding-left:20px}
 .contacts{float: right;}
.right{
padding-left: 300px;}
.main{align-items: center;
padding-left: 150px;}
.right img{background-color: cornflowerblue;}

.product{padding-left: 170px;
  padding-top: 25px;}
  .product input{opacity: 0.4;}
.inline{display: inline-flex;}
.home{font-size: 20px;}

.center {
  position: absolute;
  padding-bottom: 500px;
  padding-left: 300px;
 
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: black;
  font-size: 35px;
}
.block{
  background-image: url(./step-images/LBQ07692N_L190__94291.1531315672.jpg);
  position: relative;
}



.block::before{
  background-color: blue;
  opacity: 0.3;
  content: '';
  display: block;
  height: 100%;
  /* position: absolute;
  width: 100%; */
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {height: 50px;
  width: 50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.back{ position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;}
  .greycircle{position: absolute;
    opacity: 0.4;
    top: 72px;
    left: 76px;
            }
 .greycirclee{position: absolute;
opacity: 0.5;
  left: 76px;
  height: 30px;
  padding-left: 900px;
  padding-top: 70px;}
.product i{border: 2px solid black;
background-color: gray;
padding: 5px;}
.right input{background-color:white;
color: black;
border-collapse: collapse;}
  
 
 
            

 


