
.grid-container{display: grid;
      
                
                background-color: #FFE259;
              
                padding-right: 50px;
                grid-template-columns: auto auto;
                
               
            }
.grid-item-one{
  display: inline-flex;
}
<!-- remember to checks the

.grid-item-two {
  padding-right: 135px;
  padding-top: 36px;
  text-align: right;
  line-height: 1.3;

}


#code{padding-top: 40px;
padding-left:50px;}
.previous {
    background-color: black;
    color: black;
  }
.color{text-align:left;}
 
  .figure{text-align:left;}

.logo{
float: left;}

table,th,td{border: 1px solid black;
            border-collapse: collapse;}
h2::first-letter{background-color: #FFE259;}
h3::first-letter{background-color: #FFE259;}

.next{text-align: right;}
.lydia{text-align: center;
       color: white;
       border:3px solid black;
      font-style: italic;
      background-color: black;}
 
.one{color: white;}
.orange-arrow svg{padding-left: 40px;}
.black-arrow svg{padding-left: 20px;
}


/* .caption{text-align:center;} */

.mini-image img{
 max-width: 100%;
}
  .image{background-color: white;
  width: 400px;
border-radius: 5px;
padding: 20px;
margin: auto;
position: relative;}
.orange-arrow{background-color:#FFE259;
  position: absolute;
  left: 440px;
  top:280px;
  padding-top: 40px;
   width: 120px;
   height: 60px;
  border-radius: 5px ;

}
.black-arrow{background-color: black;
position: absolute;
border-radius: 5px;
height: 50px;
width:90px;
right: 440px;
top: 1px;
padding-top:50px;
padding-left: 90px;
;}


.right{background-color:#FFE259;}


  hr{border:3px solid black;
}  


.left{background-color: white;
   border: 3px;}
 h1{
  font-family: 'Odibee Sans', cursive;
   font-size: 60px;
   padding-top: 8px;
 }
  








        







